* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.block {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

/* ---------------------------------HEADER--------------------------------- */

/* --------------TOP-------------- */

.header-top {
    padding: 17px 0;
    background-color: #add8e6;
    text-align: center;    
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav > .nav-links {
    width: 60%;
}

.nav > .nav-logo, .nav-login {
    width: 20%;
}

.nav-logo {
    text-align: left;
}

.nav-login {
    text-align: right;
}

/* -------------BOTTOM------------- */
.header-content {
    width: 70%;
}

/* ---------------------------------MAIN--------------------------------- */

section:nth-child(even) {
    background-color: #d3d3d3;
}

.block-small {
    width: 40%;
}

.block-big {
    width: 60%;
}

.block-bigger {
    width: 100%;
}

/* --------------------------------FOOTER--------------------------------- */
footer > section {
    background-color: #23272a;
    border-bottom: 2px solid white;
}

.footer-column-big {
    width: calc(100%/3);
    margin-top: -20px;
}

.footer-column-small {
    width: calc(100%/6);
    margin-top: -20px;
}

/* ---------------------------------DEBUG--------------------------------- */

.debug .test-block {
    height: 400px; 
    border: 2px dashed black;
}

/* ------------HEADER------------ */

.debug .nav {
   background-color: #daa520;
   height: 80px;
   border: 2px dashed black;
}

.debug .nav-links {
    border-left: 2px dashed black;
    border-right: 2px dashed black;
    height: 100%;
    line-height: 57px;
}

.debug .header-bottom {
    background-color: #00008b;
}

.debug .header-content {
    background-color: #ee82ee;
}

/* ------------MAIN------------ */

.debug .block-big {
    background-color: #1e90ff;
}

.debug .block-small {
    background-color: #ffc0cb;
}

.debug .block-bigger {
    background-color :#228b22;
    height: 900px;
}

/* -----------FOOTER----------- */

.debug .TestColumnBig {
    height: 580px;
    border: 2px dashed black;
    background-color: #f08080;
}

.debug .TestColumnSmall {
    height: 580px;
    background-color: #20b2aa;
    border: 2px dashed white;
}